/* ShopPage.css */

.shop-item-container {
  align-items: start;
  justify-content: start;
  display: flex;
  margin-left: 10%;
}

.shop-item-details {
  display: flex;
  flex-direction: column;
}

.shop-img {
  width: 300px;
  height: auto;
}

.shop-item-text {
  text-align: left;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.price {
  font-size: 18px;
}

.description {
  font-size: 16px;
}

.sizes {
  font-size: 16px;
  margin-top: 20px;
}
