#navbar {
  position: fixed;
  width: 100%;
  z-index: 9;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#redHalve {
  position: sticky;
  top: 0%;
  font-size: small;
  background-color: maroon;
  padding: 1px;
  min-height: 0.1%;
  color: white;
  text-align: center;
}
#navHalve {
  position: sticky;
  top: 0%;
  min-height: 0.5%;
  background-color: white;
}
#logo {
  font-size: x-large;
  font-style: italic;
  font-weight: 500;
  margin-left: 10px;
}
#asset1 {
  max-width: 40%;
  margin-top: 10%;
  margin-left: 5%;
  position: absolute;
  border-radius: 20%;
  animation: asset1Animation 1s ease-out;
}
#shopnowbutton {
  background-color: maroon;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#shopnowbutton:hover {
  background-color: darkred;
}

@keyframes asset1Animation {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0%);
  }
}

#headText {
  position: absolute;
  top: 30%;
  left: 60%;
  animation: headTextAnimation 1s ease-out;
}

@keyframes headTextAnimation {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}
.page2 {
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
#growtogText {
  text-align: center;
}
#Page2sideText {
  margin-top: 15%;
  position: absolute;
  left: 5%;
  width: 40%;
}

#page2circle {
  background-color: maroon;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 25vh;
  right: 10vh;
  z-index: -9;
}

#asset2 {
  width: 300px;
  position: absolute;
  right: 20vh;
  top: 27vh;
}
.page3 {
  top: 300%;
  height: 100%;
  width: 100%;
}
#freqtitle {
  position: absolute;
  text-align: center;
  top: 220%;
  left: 30%;
}

#questions {
  position: absolute;
  top: 250%;
  left: 27%;
  padding-bottom: 50px;
}

.questionContainer {
  margin-bottom: 10px;
}

.indiQues {
  border: 1px rgba(179, 179, 179, 0.498) ridge;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 0px;
  width: 100vh;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.indiQues.selected {
  background-color: #e0e0e0;
}

.arrow {
  margin-right: 10px;
}

.answer {
  margin-top: 5px;
  padding: 5px;
  border: 1px rgba(179, 179, 179, 0.498) ridge;
  border-radius: 10px;
}
#footer {
  background-color: maroon;
  overflow-y: hidden;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  width: 100%;
  padding-bottom: 10px;
  position: absolute;
  z-index: -9;
  top: 320%;
  height: 45%;
}

#footimg {
  position: absolute;
  z-index: -9;
  left: 0%;
  background-color: red;
  opacity: 0.5;
}
#footerContainer1 {
  position: absolute;
  left: 80px;
  top: 100px;
  text-align: left;
}
#footerContainer2 {
  position: absolute;
  left: 30%;
  top: 100px;
  text-align: left;
}
#footerContainer3 {
  position: absolute;
  left: 55%;
  top: 100px;
  text-align: left;
}
#footerContainer4 {
  position: absolute;
  left: 80%;
  top: 100px;
  text-align: left;
}
#contactLogo {
  margin-top: 5px;
  img {
    width: 20px;
    margin: 5px;
  }
}
